@font-face
{
    font-family: Gilroy;
    font-weight: 800;
    font-style: normal;

    src: local('Gilroy'),
    url(../fonts/gilroyextrabold.woff) format('woff'),
    url(../fonts/gilroyextrabold.woff2) format('woff2');
}

@font-face
{
    font-family: Gilroy;
    font-weight: 100;
    font-style: normal;

    src: local('Gilroy'),
    url(../fonts/gilroylight.woff) format('woff'),
    url(../fonts/gilroylight.woff2) format('woff2');
}

html,
body
{
    height: 100%;
}

*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 30px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    min-width: 1200px;

    color: #000;
    background-color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.main-content
{
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
}

.main-footer
{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}

img
{
    max-width: 100%;
    height: auto;
}

a
{
    text-decoration: none;

    color: inherit;
}

.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.global-width
{
    width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.heading-wrapper
{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 80px;
}

.main-header-wrapper
{
    line-height: 36px;

    position: relative;

    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0 60px;
    padding-bottom: 165px;

    background-color: #f7e296;
}

.inner-page-header
{
    margin-bottom: 48px;
    padding-bottom: 50px;
}

.header-logo
{
    margin-top: -20px;
    margin-bottom: 10px;
}

.header-upper-part
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 32px;
}

.logo:hover,
.header-menu-dropdown a:hover,
.footer-services-list a:hover,
a .footer-logo:hover
{
    opacity: .6;
}

.logo:active,
.header-menu-dropdown a:active,
.footer-services-list a:active,
a .footer-logo:active
{
    opacity: .3;
}


.header-user-navigation .log-out
{
    opacity: .3;
}

.site-searching-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.site-searching-field
{
    line-height: 36px;

    width: 356px;
    padding-left: 40px;

    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    background-image: url(../img/i/search.svg);
    background-repeat: no-repeat;
    background-position: 4px 50%;
}

.site-searching-field::-webkit-input-placeholder
{
    color: rgba(0, 0, 0, .3);
}

.site-searching-field:-ms-input-placeholder
{
    color: rgba(0, 0, 0, .3);
}

.site-searching-field::placeholder
{
    color: rgba(0, 0, 0, .3);
}

.site-searching-field:hover::-webkit-input-placeholder
{
    color: rgba(0, 0, 0, .6);
}

.site-searching-field:hover:-ms-input-placeholder
{
    color: rgba(0, 0, 0, .6);
}

.site-searching-field:hover::placeholder
{
    color: rgba(0, 0, 0, .6);
}

.site-searching-field:focus
{
    border-bottom-color: #000;
    outline: none;
}

.site-searching-field:focus::-webkit-input-placeholder
{
    color: rgba(0, 0, 0, 1);
}

.site-searching-field:focus:-ms-input-placeholder
{
    color: rgba(0, 0, 0, 1);
}

.site-searching-field:focus::placeholder
{
    color: rgba(0, 0, 0, 1);
}

.site-searching-btn
{
    line-height: 36px;

    visibility: hidden;

    color: #000;
    border: 2px solid #000;
    outline: none;
    background-color: transparent;
}

.site-searching-field:focus + .site-searching-btn
{
    visibility: visible;
}

.site-searching-btn:hover,
.site-searching-btn:focus
{
    color: #fff;
    background-color: #000;
}

.site-searching-btn:active
{
    visibility: visible;
    color: rgba(255, 255, 255, .3);
}

.header-user-navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 20px;

    list-style: none;

    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header-user-navigation li:nth-last-of-type(1)
{
    margin-left: 41px;
}

.header-user-navigation li:nth-last-of-type(2)
{
    margin-left: auto;
}

.log-in::before,
.user-profile::before
{
    margin-right: 14px;

    content: url(../img/i/user.svg);
}

.log-out
{
    margin-left: 20px;
}

.compare::before
{
    margin-right: 10px;

    content: url(../img/i/compare.svg);
}

.basket::before
{
    margin-right: 12px;

    content: url(../img/i/cart.svg);
}

.header-user-navigation a:hover
{
    color: rgba(0, 0, 0, .6);
}

.header-user-navigation a:active
{
    color: rgba(0, 0, 0, .3);
}

.header-user-navigation a:hover::before
{
    opacity: .8;
}

.header-user-navigation a:active::before
{
    opacity: .3;
}

.header-menu
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header-menu-item
{
    letter-spacing: .2em;
    text-transform: uppercase;
}

.header-menu-item:hover
{
    color: rgba(0, 0, 0, .6);
}

.header-menu-item:active
{
    color: rgba(0, 0, 0, .3);
}

.white-stripe::before
{
    position: absolute;
    top: -42px;

    display: block;

    width: 100px;
    height: 7px;

    content: '';

    background-color: #fff;
}

.catalog-btn
{
    position: relative;

    padding-right: 28px;
}

.catalog-btn::before,
.catalog-btn::after
{
    position: absolute;
    top: 40%;
    right: 0;

    width: 16px;
    height: 2px;

    content: '';

    background-color: rgba(184, 169, 116, 1);
}

.catalog-btn::after
{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.catalog-btn:hover::before,
.catalog-btn:hover::after
{
    background-color: rgba(184, 169, 116, 1);
}

.header-menu-dropdown
{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 36px;

    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;

    padding-top: 23px;
    padding-bottom: 35px;
    padding-left: 60px;

    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
    letter-spacing: .01em;

    opacity: 0;
    background-color: #f7e296;
}

.header-menu li:hover > .header-menu-dropdown
{
    visibility: visible;

    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;

    opacity: 1;
}

.header-menu-dropdown:hover
{
    visibility: visible;
}

.header-menu-dropdown ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.header-menu-dropdown ul
{
    max-width: 200px;
    margin-right: 60px;
}

.header-menu > li:nth-last-of-type(1)
{
    margin-right: -5px;
    margin-left: 109px;
}

.header-menu > li:nth-last-of-type(2)
{
    margin-left: 35px;
}

.header-menu > li:nth-last-of-type(3)
{
    margin-left: auto;
}

.page-title
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;

    margin: 0;
    margin-bottom: 26px;

    letter-spacing: .01em;
}

.breadcrumbs
{
    font-size: 14px;
    line-height: 36px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    color: #000;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.breadcrumbs li:nth-of-type(n+2)
{
    margin-left: 16px;
}

.breadcrumbs li:nth-of-type(n+2)::before
{
    margin-right: 19px;

    content: url(../img/i/nav-arrow.svg);
}

.breadcrumbs a
{
    color: rgba(0, 0, 0, .3);
}

.breadcrumbs-current
{
    color: rgba(0, 0, 0, .3);
}

.breadcrumbs a:hover
{
    color: rgba(0, 0, 0, .6);
}

.breadcrumbs a:active
{
    color: rgba(0, 0, 0, .1);
}

.recomendation
{
    margin-bottom: 35px;
}

.slider
{
    position: relative;
}

.slider-radio
{
    visibility: hidden;
}

.slider-list
{
    position: relative;

    min-height: 550px;
    margin: 0;
    margin-top: -195px;
    padding: 0;

    list-style: none;
}

.slider-item
{
    font-size: 0;

    display: none;

    width: 100%;
}

.slider-controls
{
    position: absolute;
    top: 145px;
    right: 86px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-controls li
{
    margin-right: 20px;
}

.slider-controls li:last-of-type
{
    margin-right: 0;
}

.slide-btn
{
    cursor: pointer;
}

.slide-btn::before
{
    display: inline-block;
    vertical-align: middle;

    width: 12px;
    height: 12px;

    content: '';

    background-image: url(../img/i/slider-button-empty.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.slide1-slider-radio:checked ~ .slider-controls .slide1-btn::before,
.slide2-slider-radio:checked ~ .slider-controls .slide2-btn::before,
.slide3-slider-radio:checked ~ .slider-controls .slide3-btn::before
{
    background-image: url(../img/i/slider-button.svg);
}


.slide1-slider-radio:checked ~ .slider-list .slide1,
.slide2-slider-radio:checked ~ .slider-list .slide2,
.slide3-slider-radio:checked ~ .slider-list .slide3
{
    display: block;
}

.slider-item-section
{
    display: inline-block;

    width: 50%;

    vertical-align: top;
}

.slider-item-section:last-child
{
    position: relative;

    padding: 0 20px;
}

.slide1-img
{
    margin-top: -6px;
    margin-left: 90px;
}

.slide2-img
{
    margin-top: 6px;
    margin-left: 120px;
}

.slide3-img
{
    margin-top: 60px;
    margin-left: 32px;
}

.slider-num
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 179.2px;
    font-weight: 800;
    line-height: 179.2px;

    position: absolute;
    top: -20px;
    right: 48px;

    color: #fff;
}

.slider-item-slogan
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.2;

    position: relative;

    margin-top: 73px;
    margin-bottom: 20px;

    letter-spacing: .01em;
}

.slider-description
{
    font-size: 15px;

    margin-bottom: 40px;

    letter-spacing: .01em;

    color: #464646;
}

.slide1 .slider-description
{
    padding-right: 55px;
}

.btn
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;

    position: relative;

    display: inline-block;
    vertical-align: middle;

    padding: 12px 44px;

    letter-spacing: .2em;
    text-transform: uppercase;

    border: none;
    outline: none;
    background-color: transparent;
}

.btn span
{
    position: relative;
    z-index: 1;
}

.btn::before
{
    position: absolute;
    top: 19px;
    right: 0;
    bottom: 19px;
    left: 0;

    content: ' ';
    -webkit-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;

    background-color: #f0c52e;
}

.btn:hover::before,
.btn:focus::before
{
    top: 0;
    bottom: 0;

    -webkit-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}

.btn:active
{
    color: rgba(0, 0, 0, .3);
}

.more-information-btn
{
    width: 220px;
    margin-bottom: 50px;
}

.slider-item-features
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.slider-item-features-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-right: 80px;

    letter-spacing: .01em;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.slide3 .slider-item-features-item
{
    margin-right: 45px;
}

.slider-item-features-item:last-child
{
    margin-right: 0;
}

.feature-value
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 36px;
    line-height: 1.2;

    margin-bottom: 10px;
}

.feature-name
{
    font-size: 13px;
    line-height: 20px;
}

.goods-categories-list
{
    font-family: Gilroy, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.goods-categories
{
    margin-bottom: 170px;
}

.goods-categories-item
{
    position: relative;

    width: 160px;

    letter-spacing: .05em;
}

.goods-categories-item a
{
    display: block;
}

.goods-categories-title
{
    word-wrap: break-word;
}

.goods-categories-item:nth-child(1) a::before
{
    background-image: url(../img/i/popular-1.svg);
}
.goods-categories-item:nth-child(2) a::before
{
    background-image: url(../img/i/popular-2.svg);
}
.goods-categories-item:nth-child(3) a::before
{
    background-image: url(../img/i/popular-3.svg);
}
.goods-categories-item:nth-child(4) a::before
{
    background-image: url(../img/i/popular-4.svg);
}
.goods-categories-item:nth-child(5) a::before
{
    background-image: url(../img/i/popular-5.svg);
}
.goods-categories-item:nth-child(6) a::before
{
    background-image: url(../img/i/popular-6.svg);
}

.goods-categories-item a::before
{
    display: block;

    width: 160px;
    height: 160px;
    margin-bottom: 34px;

    content: '';
    cursor: pointer;

    background-color: rgba(240, 197, 46, .5);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.goods-categories-item:nth-child(2) a::before
{
    background-position: 50% 100%;
}

.goods-categories-item:hover a::before
{
    background-color: rgba(240, 197, 46, 1);
}

.goods-categories-item a::after
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 160px;
    height: 160px;

    content: '';

    background-color: rgba(240, 197, 46, .7);
}

.goods-categories-item:active a::after
{
    visibility: visible;
}

.goods-categories-item:active h3
{
    color: rgba(0, 0, 0, .3);
}

.service-tabs
{
    position: relative;

    min-height: 290px;
    margin-bottom: 90px;

    background-color: #e5e5e5;
}

.service-tabs-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 50px;
    padding-bottom: 50px;
}

.service-tabs-item
{
    margin-top: -70px;
}

.services-description
{
    color: #464646;
}

.services-radio
{
    visibility: hidden;
}

.services-btn-list,
.services-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.services-btn-list
{
    position: relative;

    width: 285px;
    margin-top: -80px;
    margin-left: -23px;
    padding-top: 80px;
    padding-bottom: 70px;

    border-right: 7px solid #000;
}

.services-btn-item
{
    margin-bottom: 24px;
}

.services-btn-item:last-of-type
{
    margin-bottom: 0;
}

.services-btn
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;

    position: relative;

    display: block;

    width: 160px;
    min-height: 40px;

    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
    letter-spacing: .2em;
    text-transform: uppercase;
    word-wrap: break-word;

    border: none;
    background: none;
}

.services-btn span
{
    line-height: 40px;

    position: relative;
    z-index: 1;
}

.services-btn::before
{
    position: absolute;
    top: 17px;
    right: 0;
    bottom: 17px;
    left: 0;

    content: ' ';
    -webkit-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;

    background-color: #f0c52e;
}

.services-btn:hover::before
{
    top: 0;
    bottom: 0;

    -webkit-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}

.delivery-btn
{
    padding-left: 20px;
}

.guarantee-btn
{
    padding-left: 25px;
}

.credit-btn
{
    padding-left: 38px;
}

.services-btn:active {
    width: 100%;

    color: #f7e184;
}

.services-btn:active::before {
    top: 0;
    bottom: 0;

    background-color: black;
}

.delivery-services-radio:checked ~ .service-tabs-item .delivery-btn,
.guarantee-services-radio:checked ~ .service-tabs-item .guarantee-btn,
.credit-services-radio:checked ~ .service-tabs-item .credit-btn
{
    width: 100%;

    color: #f7e184;
}

.delivery-services-radio:checked ~ .service-tabs-item .delivery-btn::before,
.guarantee-services-radio:checked ~ .service-tabs-item .guarantee-btn::before,
.credit-services-radio:checked ~ .service-tabs-item .credit-btn::before
{
    top: 0;
    bottom: 0;

    background-color: black;
}

.services-btn:focus
{
    color: #f7e184;
    outline: none;
}

.services-list
{
    position: relative;

    width: 876px;
    padding-left: 115px;
}

.service-title
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.2;

    margin: 0;
    margin-top: -10px;
    margin-bottom: 25px;

    letter-spacing: .02em;
}

.services-item
{
    display: none;

    padding-right: 300px;
}

.delivery-services-radio:checked ~ .service-tabs-item .services-delivering,
.guarantee-services-radio:checked ~ .service-tabs-item .services-guarantee,
.credit-services-radio:checked ~ .service-tabs-item .services-credit
{
    display: block;

    opacity: 1;
}

.services-delivering::after
{
    position: absolute;
    top: 5px;
    right: 65px;

    content: url(../img/i/delivery.svg);
}

.services-guarantee::after
{
    position: absolute;
    top: -20px;
    right: 45px;

    content: url(../img/i/warranty.svg);
}

.services-credit::after
{
    position: absolute;
    top: -20px;
    right: 70px;

    content: url(../img/i/credit.svg);
}

.about-us h2,
.contacts h2
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.2;

    letter-spacing: .01em;
}

.logotypes-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-bottom: 94px;
    padding: 0;

    list-style: none;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logotypes-item img
{
    opacity: .2;
}

.logotypes-item img:hover
{
    opacity: 1;
}

.information-section-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 80px;
}

.information-section-wrapper h2::before
{
    position: absolute;
    top: -10px;

    display: block;

    width: 80px;
    height: 7px;

    content: '';

    background-color: #000;
}

.about-us,
.contacts
{
    position: relative;

    width: 50%;
}

.about-us
{
    padding-right: 100px;
}

.information-section-description p:nth-of-type(n+2)
{
    margin-top: 30px;
}

.about-us-description
{
    margin-bottom: 65px;
}

.fellows
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;

    margin: 0;
    margin-bottom: 52px;
    padding: 0;

    list-style: none;
}

.fellows li::before
{
    display: inline-block;
    vertical-align: middle;

    width: 8px;
    height: 8px;
    margin-right: 30px;

    content: '';

    border: 2px solid #e5e5e5;
    border-radius: 50%;
}

.about-us-btn
{
    padding-right: 22px;
    padding-left: 22px;
}

.contacts
{
    padding-left: 20px;
}

.contacts-description
{
    margin-bottom: 38px;
}

.map-btn
{
    display: block;
    width: 560px;
    height: 222px;
    margin-bottom: 67px;
    padding: 0;

    cursor: pointer;

    border: none;
}

.write-us-btn
{
    padding-right: 34px;
    padding-left: 34px;
}

.catalog-wrapper
{
    overflow: hidden;
}

.catalog-wrapper-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filters
{
    position: relative;

    width: 330px;
    padding-left: 60px;

    background-color: #eee;
}

.filters::before
{
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: -1000%;

    content: '';

    background-color: #eee;
}

.goods
{
    width: 832px;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.catalog-section-name
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 70px;

    margin: 0;

    letter-spacing: .2em;
    text-transform: uppercase;
}

.filters-heading-wrapper
{
    position: relative;

    margin-bottom: 83px;

    background-color: #dbdbdb;
}

.filters-heading-wrapper::before
{
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: -1000%;

    content: '';

    background-color: #dbdbdb;
}

.filters-form
{
    padding-right: 67px;
}

.filters-form fieldset
{
    margin: 0;
    padding: 0;

    border: none;
}

.filters-form legend
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;

    position: relative;

    width: 100%;
    padding-top: 13px;

    border-top: 2px solid #000;
}

.filters-form .filters-cost-field
{
    min-height: 90px;
    margin-top: -15px;
    margin-bottom: 50px;
}

.filters-cost-field legend
{
    margin-bottom: 36px;
}

.filters-form .filters-color-field
{
    margin-bottom: 44px;
}

.filters-color-field legend
{
    margin-bottom: 20px;
}

.filters-color-field label
{
    position: relative;

    padding-left: 38px;
}

.filters-color-field label::before
{
    position: absolute;
    top: -5px;
    left: -1px;

    content: url(../img/i/checkbox-off.svg);
}

.filters-color-field input:checked + label::before
{
    content: url(../img/i/checkbox-on.svg);
}

.filters-color-field input:checked + label:active::before {
	content: url(../img/i/checkbox-off.svg);
}

.filters-color-field input:not(:checked) + label:active::before {
	content: url(../img/i/checkbox-on.svg);
}

.filters-form .filters-bluetooth-field
{
    margin-top: -15px;
    margin-bottom: 28px;
}

.filters-bluetooth-field legend
{
    margin-bottom: 20px;
}

.filters-bluetooth-field label
{
    position: relative;

    padding-left: 38px;
}

.filters-bluetooth-field label::before
{
    position: absolute;
    top: -5px;
    left: -1px;

    content: url(../img/i/radio-off.svg);
}



.filters-color-field label:hover::before,
.filters-bluetooth-field label:hover::before
{
    opacity: .6;
}

.filters-bluetooth-field input:checked + label::before
{
    content: url(../img/i/radio-on.svg);
}

.filters-form ul
{
    font-size: 14px;
    line-height: 40px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.filters-btn
{
    padding-right: 40px;
    padding-left: 40px;
}

.range
{
    position: relative;

    width: 200px;
    height: 2px;

    background-color: #dbdbdb;
}

.range-button
{
    position: absolute;
    top: -10px;

    height: 22px;

    cursor: pointer;

    background-image: url(../img/i/filter-button.svg);
    background-repeat: no-repeat;
}

.range-button:active
{
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
            transform: scale(1.08);
}

.range-a
{
    left: -10px;

    width: 50px;
}

.range-b
{
    left: 103px;

    width: 70px;
}

.range-a::after
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 22.27px;

    position: absolute;
    top: 20px;
    left: 5px;

    content: 'От 0';

    color: rgba(0, 0, 0, .2);
}

.range-b::after
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 22.27px;

    position: absolute;
    top: 20px;
    left: -20px;

    content: 'до 5000';

    color: rgba(0, 0, 0, .2);
}

.green-stripe
{
    position: absolute;

    display: block;

    width: 110px;
    height: 2px;

    content: '';

    background-color: #91c92f;
}

.goods
{
    width: 832px;
    padding-left: 72px;
}

.goods-sorting
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 69px;

    background-color: #ebebeb;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.goods-sorting::before
{
    position: absolute;
    top: 0;
    right: -1000%;
    bottom: 0;
    left: -72px;

    content: '';

    background-color: #ebebeb;
}

.goods-sorting ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.goods-sorting .catalog-section-name
{
    position: relative;

    margin-right: 55px;
}

.goods-sorting form
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.word-sorter-list
{
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.word-sorter-item:nth-of-type(n+2)
{
    margin-left: 30px;
}

.word-sorter-list label
{
    opacity: .3;
}

.word-sorter-list label:hover
{
    opacity: .6;
}

.word-sorter-list label:active
{
    opacity: 1;
}

.word-sorter-list :checked + label
{
    opacity: 1;
}

.triangle-sorter-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.sorting-triangle
{
    display: inline-block;
    vertical-align: middle;

    opacity: .2;
    border: 10px solid #000;
    border-right-width: 5px;
    border-right-color: transparent;
    border-left-width: 5px;
    border-left-color: transparent;
}

.triangle-sorter-item:last-of-type
{
    margin-left: 20px;
}

.triangle-sorter-item:first-of-type .sorting-triangle
{
    border-top-width: 0;
}

.triangle-sorter-item:last-of-type .sorting-triangle
{
    border-bottom-width: 0;
}

.sorting-triangle:hover
{
    opacity: .4;
}

.sorting-triangle:active
{
    opacity: 1;
}

.triangle-sorter-item :checked + label
{
    opacity: 1;
}

.goods-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.goods-item
{
    margin-bottom: 50px;
}

.goods-item:nth-of-type(2n)
{
    margin-left: auto;
}

.goods-img
{
    position: relative;

    margin-bottom: 25px;
}

.sticker-new::before
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 14px;

    position: absolute;
    top: 29px;
    right: 27px;

    width: 60px;
    height: 60px;
    padding: 22px 0;

    content: 'New';
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, .2);
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
}

.hovered-item
{
    position: absolute;
    top: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
        flex-direction: column;

    width: 360px;
    height: 380px;

    background-color: rgba(238, 238, 238, .7);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.add-to-basket
{
    width: 200px;
    margin-top: 40px;
    padding-right: 0;
    padding-left: 0;
}

.add-to-basket::before
{
    -webkit-transition: none;
         -o-transition: none;
            transition: none;
}

.goods-img:hover .hovered-item
{
    visibility: visible;
}

.add-to-compare
{
    font-size: 13px;
    line-height: 36px;

    opacity: .5;
    border: none;
    outline: none;
    background: transparent;
}

.add-to-compare:hover,
.add-to-compare:focus
{
    opacity: 1;
}

.add-to-compare:active
{
    opacity: .2;
}

.goods-info
{
    font-family: Gilroy, Arial, sans-serif;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.goods-title
{
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;

    max-width: 260px;
    margin: 0;

    letter-spacing: .01em;
}

.goods-price
{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.2;

    max-width: 80px;

    word-wrap: break-word;
}

.goods-navigation
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: -10px;
    margin-bottom: 75px;

    letter-spacing: .2em;

    background-color: #ebebeb;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pagination-btn
{
    line-height: 70px;

    padding-right: 30px;
    padding-left: 30px;

    text-transform: uppercase;
}

.prev-page:hover,
.next-page:hover
{
    background-color: #d9d9d9;
}

.prev-page:active,
.next-page:active
{
    opacity: .3;
    background-color: #d9d9d9;
}

.pagination-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-left: 10px;
    padding: 0;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pagination-item:not(.pagination-item-current)
{
    opacity: .3;
}

.pagination-item:not(.pagination-item-current):hover
{
    opacity: .6;
}

.pagination-item:not(.pagination-item-current):active
{
    opacity: 1;
}

.pagination-item:nth-of-type(n+2)
{
    margin-left: 30px;
}

.pagination-item-current
{
    cursor: default;

    opacity: 1;
}

.main-footer
{
    color: #fff;
    background-color: #464646;
}

.main-footer-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 65px;
    padding-bottom: 57px;
}

.footer-logo
{
    margin-bottom: 20px;
}

.footer-address
{
    font-style: normal;
}

.footer-address::after
{
    position: absolute;

    display: block;

    width: 80px;
    height: 7px;
    margin-top: 77px;

    content: '';

    background-color: #ffc600;
}

.footer-item:nth-of-type(1)
{
    width: 300px;
    margin-right: 68px;
}

.footer-item:nth-of-type(2)
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-top: 73px;
    margin-right: 42px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-services-list
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-bottom: 65px;
    padding: 0;

    list-style: none;

    letter-spacing: .2em;
    text-transform: uppercase;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer-services-item
{
    margin-right: 33px;
}

.footer-services-item:last-child
{
    margin-right: 0;
}

.social-icons-list
{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style: none;
}

.social-icons-item
{
    display: inline-block;
    vertical-align: middle;
}

.social-icons-item:nth-of-type(n+2)
{
    margin-left: 22px;
}

.social-icon
{
    display: block;

    width: 32px;
    height: 32px;

    opacity: .3;
}

.social-icon:hover
{
    opacity: .6;
}

.social-icon:active
{
    opacity: .1;
}

.fb-icon
{
    background-image: url(../img/i/fb.svg);
}

.inst-icon
{
    background-image: url(../img/i/inst.svg);
}

.tw-icon
{
    background-image: url(../img/i/twitter.svg);
}

.footer-user-navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-top: -2px;
    margin-bottom: 37px;
    padding: 0;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer-user-navigation li
{
    margin-right: 40px;
}

.log-in-footer::before
{
    margin-right: 14px;

    content: url(../img/i/user-footer.svg);
}

.compare-footer::before
{
    margin-right: 10px;

    content: url(../img/i/compare-footer.svg);
}

.basket-footer::before
{
    margin-right: 12px;

    content: url(../img/i/cart-footer.svg);
}

.footer-user-navigation li:last-child
{
    margin-right: 0;
}

.footer-user-navigation a
{
    color: rgba(255, 255, 255, .6);
}

.footer-user-navigation a:hover
{
    color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active
{
    color: rgba(255, 255, 255, .3);
}

.footer-user-navigation a::before
{
    opacity: 1;
}

.footer-user-navigation a:hover::before
{
    opacity: .6;
}

.footer-user-navigation a:active::before
{
    opacity: .3;
}

.footer-phone-number
{
    margin-right: -4px;
    margin-bottom: 62px;

    text-align: right;
}

.footer-phone-number a
{
    opacity: 1;
}

.footer-phone-number a:hover
{
    opacity: .7;
}

.footer-phone-number a:active
{
    opacity: .3;
}

.academy-logo-container
{
    margin-right: -3px;

    text-align: right;
}

.academy-logo:hover
{
    opacity: .6;
}

.academy-logo:active
{
    opacity: .3;
}


.modal-write-us
{
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;

    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;

    display: none;

    width: 960px;
    min-height: 553px;
    margin: 50px auto;
    padding: 99px 100px 90px;

    background-color: #fff;
    -webkit-box-shadow: 30px 0 50px -30px #000,
    -30px 0 50px -30px #000,
    0 20px 50px -30px #000;
            box-shadow: 30px 0 50px -30px #000,
    -30px 0 50px -30px #000,
    0 20px 50px -30px #000;
}

.write-us-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.write-us-form label
{
    margin-right: auto;
    margin-bottom: 13px;
}

.form-row:first-of-type
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 39px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-row:nth-of-type(2)
{
    margin-bottom: 35px;
}

.form-row:first-of-type .form-item:first-of-type
{
    margin-right: 40px;
}

.form-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.modal-write-us input[type='text'],
.modal-write-us input[type='email']
{
    padding: 13px 16px;
}

.modal-write-us textarea
{
    max-width: 100%;
    height: 156px;
    padding: 17px 22px;
}

.modal-write-us input,
.modal-write-us textarea
{
    font-size: 14px;
    line-height: 18px;

    border: 3px solid transparent;
    background-color: #f2f2f2;
}

.modal-write-us input::-webkit-input-placeholder,
.modal-write-us textarea::-webkit-input-placeholder
{
    color: rgba(0, 0, 0, .4);
}

.modal-write-us input:-ms-input-placeholder,
.modal-write-us textarea:-ms-input-placeholder
{
    color: rgba(0, 0, 0, .4);
}

.modal-write-us input::placeholder,
.modal-write-us textarea::placeholder
{
    color: rgba(0, 0, 0, .4);
}

.modal-write-us input:hover,
.modal-write-us textarea:hover
{
    background-color: #eaeaea;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus
{
    border: 3px solid #f7e296;
    outline: none;
    background-color: transparent;
}

.modal-write-us input:invalid:not(:focus),
.modal-write-us textarea:invalid:not(:focus)
{
    background-color: #f6dada;
}

.modal-map
{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;

    display: none;

    width: 960px;
    height: 559px;
    margin: 50px auto;
    margin-top: 50px;

    -webkit-box-shadow: 30px 0 50px -30px #000,
    -30px 0 50px -30px #000,
    0 20px 50px -30px #000;
            box-shadow: 30px 0 50px -30px #000,
    -30px 0 50px -30px #000,
    0 20px 50px -30px #000;
}

.map-img
{
    position: absolute;
    top: 0;
    left: 0;
}

.modal-real-map
{
    position: absolute;
    z-index: 1;

    border: 0;
}

.modal-close
{
    position: absolute;
    z-index: 2;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    opacity: .5;
    border: none;
    background-color: transparent;
    background-image: url(../img/i/modal-close.svg);
    background-repeat: no-repeat;
    background-position: 0 0 ;
}

.modal-close:hover
{
    opacity: 1;
}

.modal-close:active
{
    opacity: .3;
    outline: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-show
{
    display: block;
    animation: bounce 0.6s;
}
